.vscode/**
.vscode/settings.json
src/**
.gitignore
.eslintrc.json
tsconfig.json
esbuild.js
*.map
api/
.env.example
.env*
migrations/
scripts/**
*.vsix
.vercel/
vercel.json
node_modules/**
.github/**
out/**
!out/extension.js
